<h1>Add new subject</h1>

<%= form_tag :action => 'create' do %>
<p><label for = "subject_name">Name</label>:

<%= text_field 'subject', 'name' %></p>

<%= submit_tag "Add New" %>

<% end -%>
<%= link_to 'Back', {:action => 'list', :controller => 'book'} %>